<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <label id="burger-label" for="all-burgers">Burgers:</label>
        {{#each burgers}}
        {{#unless this.devoured}}
        <div id="burger-holder">
          <div id="all-burgers">{{this.id}}. {{this.burger_name}}</div>
        </div>
        <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
          <input type="hidden" name="burger_id" type="text" value={{this.id}}>
          <button type="submit"> Devour It!</button>
        </form>
        {{/unless}}
        {{/each}}
      </div>
      <div class="col-lg-4">
        <img src="../images/burger2.png" id="burger-pic" alt="burger-img">
        <h1>Eat-da-Burger</h1>
        <form action="/burgers/create" method="POST">
          <input type="text" name="burger_name" value="" id="enter-text">
          <button type="submit" id="submit-btn">Add Burger</button>
        </form>
      </div>
      <div class="col-lg-4">
        <label id="devoured-holder" for="devoured-burgers">Devoured Burgers:</label>
        {{#each burgers}}
        {{#if this.devoured}}
        <div id="burger-holder">
          <div id="devoured-burgers">{{this.id}}. {{this.burger_name}}</div>
        </div>
        {{/if}}
        {{/each}}
      </div>

      <div>
      </div>
</main>