<div class="jumbotron">
  <h1>Eat-da-Burger</h1>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col s6">
        <div class="row">
          {{#each burgers}}
          {{#unless this.devoured}}
          <div id="all-burgers">{{this.id}}. {{this.burger_name}}</div>
          <div class="col-xs-3">
            <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
              <input type="hidden" name="burger_id" type="text" value={{this.id}}>
              <button type="submit"> Devour It!</button>
            </form>
          </div>
          {{/unless}}
          {{/each}}
        </div>
      </div>

      <div class="col s6">
        {{#each burgers}}
        {{#if this.devoured}}
        <input class="form-control-plaintext" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
        {{/if}}
        {{/each}}
      </div>

      <div>
      </div>

      <!-- add button -->
      <div class="container">
        <div class="row">
          <div class="col-12 text-center enter_section">
            <form action="/burgers/create" method="POST">
              <input type="text" name="burger_name" value="" id="enter-text">
              <button type="submit" class="btn btn-primary" id="submit-btn">Add Burger</button>
            </form>
          </div>
        </div>
      </div>
</main>